.media {
  &-column {
    flex-direction: column;
  }
  &-thumb {
    position: relative;
    &-link {
      overflow: hidden;
      display: block;
      &-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
      }
      img {
        display: block;
        transition: transform 0.4s;
      }
    }
  }
  &-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: $white;
    font-size: 2.437rem;
  }
  &-date {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgba($light-green, 0.6);
    color: $white;
    padding: 0.2rem 0.4rem;
  }
  &:hover {
    .media-thumb-link {
      &-overlay {
        display: flex;
        a {
          font-weight: 700;
        }
      }
      img {
        transform: scale(1.1);
      }
    }
  }
}
